//Color definitions
@color_links:                   #910603;
@color_header_background: 			#ffffff;
@color_header_text: 						#000000;
@color_header_background_inv:   #444444;
@color_header_text_inv:         #FFFFFF;
@color_scroll_text:             #7e7e7e;
@color_tags:                    #c73f3b;


@inet_body_text:                #373737;
@inet_header_background:        #333333;
@inet_gray_background:          #e2e2e2;
@inet_field_background:         #ffffff;
@inet_button:                   #373737;

@color_negative:								#ea0808;

@color_form_input_background: 	#F2F2F2;
@color_form_input_text:         #7e7e7e;
@color_form_button_red: 				#B3726D;
@color_form_button_delete:      #F34646;
@color_form_button_grey:        #ACACAC;
@color_form_label_grey: 				#7e7e7e;
@color_form_checked:            #910603;
@color_form_unchecked:          #d7dcde;

@color_item_background: 				#FFFFFF;
@color_intro_body:							#000000;
@color_intro_title:							#910603;
@color_intro_text:							#7e7e7e;
@color_list_text: 							#404040;
@color_list_separator_grey:     #D6D6D6;/*#C2C2C2; Looks too thick in original color*/
@color_gray_separator:          #878787;

@color_salaries_list_text:			#303030;
@color_salaries_list_date_text:	#ACACAC;

@color_profile_item_background: #EDEDED;

@color_submenu_list_text:				#404040;

@color_button_background_grey:	#EDEDED;

@color_profile_name:						#910603;
@color_profile_mail:						#303030;

@color_intalent_bluegreen:			#6BAEBD;
@color_light_gray:							#F4F3F3;
@color_tabs:                    #555555;
