@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
//Font definitions


@font-biggest:    45px;
@font-bigger:     20px;
@font-big:        15px;
@font-medium:     14px;
@font-small:      13px;
@font-smallest:   12px;
@font-tinny:      11px;


.font_main {
	font-family: 'Open Sans';
	font-size: @font-medium;
}