.button.delete{
  display:block;
  text-align: center;
  color: @color_form_button_delete;
  text-transform: uppercase;
  text-decoration: none;
}

.input-prepend {
  .add-on {
    color: #c4c4c4;
    display: inline-block;
    width: auto;
    height: 21px;
    min-width: 16px;
    padding: 7px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    margin-top: 1px;
    //text-shadow: 0 1px 0 #ffffff;
    background-color: @inet_field_background;
    border: 1px solid @inet_field_background;
    border-right: 1px solid @inet_gray_background;
    vertical-align: top;
    margin-right: -1px;;
  }
  input[type="text"] {
    display: inline-block;
  }
}


form {

  // Combobox
  .custom-combobox {
      position: relative;
      display: inline-block;
      font-size: @font-small;
      min-width: 326px;

      .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        display: inline-block!important;
        border: none!important;
        background-color: @color_form_input_background!important;
        background-image: url(../images/ic_select.png)!important;
        background-repeat: no-repeat!important;
        background-position: right!important;
        border-right:4px solid @color_form_input_background; /*fake padding*/
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width:22px;
        .rounded(0);
        border: 1px solid @color_item_background!important;
        border-left: none!important;
        right:-15px;
      }

      .custom-combobox-input,
      .custom-select-popup-input {
        margin: 0;
        padding: 6px;
        font-size: @font-small;
        color: @color_form_input_text;
        background: @color_form_input_background;
        width:100%;
        border: 1px solid @color_item_background!important;
        border-right: none!important;
        .rounded(0);
      }

      &.error {
        .custom-combobox-input,
        .custom-combobox-toggle,
        .custom-select-popup-input
       {
          border-color: @color_negative!important;
      }
    }
  }

  .form-error {
    color: @color_negative!important;
    font-size: @font-small;
  }

  input[type="text"],
  input[type="file"],
  textarea, 
  select {
    color: @color_form_input_text;
  }

  input[type="button"], 
  input[type="submit"],
  input[type="text"],
  input[type="file"],
  textarea, 
  select,
  .select-popup-button {
    background: @color_form_input_background!important;
    width:100%;
    display:block;
    border: 1px solid @color_item_background!important;
    padding:6px;
    font-size: @font-medium;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    -webkit-box-sizing : border-box;
    margin-bottom:8px;

    &.error {
      border: 1px solid @color_negative;
      margin-bottom: 2px;
    }
  }

  input[type="file"]{
    //position: relative;
    padding:0;
    height: 32px;
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
  }

  input[type=file]::-webkit-file-upload-button {
    padding:0;
    height: 32px;
    padding: 0 8px;
    text-transform: uppercase;
    -webkit-appearance: button;
  }
   
  /* "x::-webkit-file-upload-button" forces the rules to only apply to browsers that support this pseudo-element */
  // x::-webkit-file-upload-button, input[type="file"]:after {
  //   content: 'Browse...';
  //   display: inline-block;
  //   left: 0;
  //   height: 32px;
  //   margin:0;
  //   padding: 3px 8px 2px 8px;
  //   position: relative;
  //   -webkit-appearance: button;
  // }

  textarea{
    min-height: 100px;
  }

  /* Submit button */
  input[type="button"],
  input[type="submit"],
  {
    text-transform: uppercase;
    margin-top:16px;
    background-color: @color_item_background;
    //color: @color_form_button_grey;
    .bordered(@color_form_button_grey,@color_form_button_grey,@color_form_button_grey,@color_form_button_grey);
  }

  /* Select */
  select,
  .select-popup-button {
    padding:4px;
    /*Show arrow down*/
    color: @color_form_input_text;
    background-image: url(../images/ic_select.png);
    background-repeat: no-repeat;
    background-position: right;
    //border-right:4px solid @color_form_input_background; /*fake padding*/
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  .select-popup-button {
    padding: 8px 4px!important;
    font-size: @font-small!important;
    color: @color_form_input_text!important;
    background-image: url(../images/ic_select.png)!important;
    background-repeat: no-repeat!important;
    background-position: right!important;
  }

  /* Checkbox */
  .checkbox {
    input[type=checkbox]:not(old),
    input[type=radio   ]:not(old){
      width     : 2em;
      margin    : 0;
      padding   : 0;
      font-size : 1em;
      opacity   : 0;
    }

    input[type=checkbox]:not(old) + label,
    input[type=radio   ]:not(old) + label{
      display      : inline-block;
      margin-left  : -2em;
      line-height  : 2em;
    }

    input[type=checkbox]:not(old) + label > span,
    input[type=radio   ]:not(old) + label > span{
      display          : inline-block;
      width            : 1em;
      height           : 1em;
      margin           : 0.25em 0.5em 0.25em 0.25em;
      border           : 0.2em solid @color_form_unchecked;
      border-radius    : 0.4em;
      background       : @color_form_unchecked;
      // background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      // background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      // background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      // background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      // background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
      vertical-align   : bottom;
    }

    input[type=checkbox]:not(old):checked + label > span,
    input[type=radio   ]:not(old):checked + label > span{
      border-color     : @color_form_checked;
      background       : @color_form_checked;

      // background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      // background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      // background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      // background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
      // background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
    }

    input[type=checkbox]:not(old):checked + label > span:before{
      content     : '✓';
      display     : block;
      width       : 1em;
      color       : #ffffff;
      font-size   : 1em;
      line-height : 1em;
      text-align  : center;
      //text-shadow : 0 0 0.0714em rgb(115,153,77);
      font-weight : normal;
    }

    input[type=radio]:not(old):checked +  label > span > span{
      display          : block;
      width            : 0.5em;
      height           : 0.5em;
      margin           : 0.125em;
      border           : 0.0625em solid rgb(115,153,77);
      border-radius    : 0.125em;
      background       : rgb(153,204,102);
      background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
      background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
      background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
      background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
      background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
    }    
  }


  /* Custom Radio Buttons using Font Awesome */
  input[type=radio] {
    display: none;
  }
  input[type=radio] + label {
    display: block;
  }
  input[type='radio'] + label:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 8px;
    width: 23px;
    font-size: 24px;
  }
  input[type=radio] + label:before {
    content: "\f1db"; /* Radio Unchecked */
    color: @color_form_button_grey;
    vertical-align: middle;
  }
  input[type=radio]:checked + label:before {
    content: "\f058"; /* Radio Checked */
    color: #000;
  }
  .radio label {
    padding-left: 0;
  }

  /* Switch checkbox */
  /* Contenedor */
  .switch {
      width:54px;
      height:22px;
      position:relative;
      display: block;


      /* Elemento interactivo */
      label {
          cursor:pointer;
          display:block;
          width:100%;
          height:100%;
          -webkit-border-radius:14px;
          -moz-border-radius:14px;
          border-radius:14px;
          background-color:#bdc2c7;
          cursor:pointer;

          /* Texto (si/no) */
          &:before {
              content:"NO";
              font-family:"Open Sans";
              color:white;
              font-size: 12px;
              display:block;
              text-transform:uppercase;
              font-weight:600;
              position:absolute;
              top: 3px;
              right:4px;
          }

          /* Circulo */
          &:after {
              content:"";
              display:block;
              width:16px;
              height:16px;
              -webkit-border-radius:14px;
              -moz-border-radius:14px;
              border-radius:14px;
              background-color:#818B8C;
              position:absolute;
              top:3px;
              left:4px;
          }          
      }

      /* Input */
      input[type=checkbox] {
        display:none;
        /* Estado Activo. Por defecto es inactivo. */
        &:checked + label {background-color:#87d76c;}
        &:checked + label:before {content:"SI"; left:6px;}
        &:checked + label:after {background-color:#ffffff; left: auto; right:4px;}
      }

  }

}


/* INET forms */
body.inet {

  input {
    color: @inet_body_text;
    border-color: @inet_gray_background;
    background-color: @inet_field_background;

    &[type="text"] {
      width: 88%;
      padding: 10px;
    }

    &[type="submit"]{
      background-color: @inet_button;
      font-size: @font-big;
      text-transform: uppercase;
      color: #ffffff;
      padding: 10px;
      width: 90%;
      margin: 10% 5%;
    }

  }

}
