@import url("jquery-ui-1.10.3.custom.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
/*#C2C2C2; Looks too thick in original color*/
.font_main {
  font-family: 'Open Sans';
  font-size: 14px;
}
.button.delete {
  display: block;
  text-align: center;
  color: #f34646;
  text-transform: uppercase;
  text-decoration: none;
}
.input-prepend .add-on {
  color: #c4c4c4;
  display: inline-block;
  width: auto;
  height: 21px;
  min-width: 16px;
  padding: 7px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  margin-top: 1px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-right: 1px solid #e2e2e2;
  vertical-align: top;
  margin-right: -1px;
}
.input-prepend input[type="text"] {
  display: inline-block;
}
form {
  /* "x::-webkit-file-upload-button" forces the rules to only apply to browsers that support this pseudo-element */
  /* Submit button */
  /* Select */
  /* Checkbox */
  /* Custom Radio Buttons using Font Awesome */
  /* Switch checkbox */
  /* Contenedor */
}
form .custom-combobox {
  position: relative;
  display: inline-block;
  font-size: 13px;
  min-width: 326px;
}
form .custom-combobox .custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  display: inline-block !important;
  border: none!important;
  background-color: #f2f2f2 !important;
  background-image: url(../images/ic_select.png) !important;
  background-repeat: no-repeat !important;
  background-position: right!important;
  border-right: 4px solid #f2f2f2;
  /*fake padding*/
  text-indent: 1px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #ffffff !important;
  border-left: none!important;
  right: -15px;
}
form .custom-combobox .custom-combobox-input,
form .custom-combobox .custom-select-popup-input {
  margin: 0;
  padding: 6px;
  font-size: 13px;
  color: #7e7e7e;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #ffffff !important;
  border-right: none!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
form .custom-combobox.error .custom-combobox-input,
form .custom-combobox.error .custom-combobox-toggle,
form .custom-combobox.error .custom-select-popup-input {
  border-color: #ea0808 !important;
}
form .form-error {
  color: #ea0808 !important;
  font-size: 13px;
}
form input[type="text"],
form input[type="file"],
form textarea,
form select {
  color: #7e7e7e;
}
form input[type="button"],
form input[type="submit"],
form input[type="text"],
form input[type="file"],
form textarea,
form select,
form .select-popup-button {
  background: #f2f2f2 !important;
  width: 100%;
  display: block;
  border: 1px solid #ffffff !important;
  padding: 6px;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 8px;
}
form input[type="button"].error,
form input[type="submit"].error,
form input[type="text"].error,
form input[type="file"].error,
form textarea.error,
form select.error,
form .select-popup-button.error {
  border: 1px solid #ea0808;
  margin-bottom: 2px;
}
form input[type="file"] {
  padding: 0;
  height: 32px;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
}
form input[type=file]::-webkit-file-upload-button {
  padding: 0;
  height: 32px;
  padding: 0 8px;
  text-transform: uppercase;
  -webkit-appearance: button;
}
form textarea {
  min-height: 100px;
}
form input[type="button"],
form input[type="submit"] {
  text-transform: uppercase;
  margin-top: 16px;
  background-color: #ffffff;
  border-top: solid 1px #acacac;
  border-left: solid 1px #acacac;
  border-right: solid 1px #acacac;
  border-bottom: solid 1px #acacac;
}
form select,
form .select-popup-button {
  padding: 4px;
  /*Show arrow down*/
  color: #7e7e7e;
  background-image: url(../images/ic_select.png);
  background-repeat: no-repeat;
  background-position: right;
  text-indent: 1px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form select::-ms-expand,
form .select-popup-button::-ms-expand {
  display: none;
}
form .select-popup-button {
  padding: 8px 4px!important;
  font-size: 13px !important;
  color: #7e7e7e !important;
  background-image: url(../images/ic_select.png) !important;
  background-repeat: no-repeat !important;
  background-position: right!important;
}
form .checkbox input[type=checkbox]:not(old),
form .checkbox input[type=radio]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}
form .checkbox input[type=checkbox]:not(old) + label,
form .checkbox input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 2em;
}
form .checkbox input[type=checkbox]:not(old) + label > span,
form .checkbox input[type=radio]:not(old) + label > span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.2em solid #d7dcde;
  border-radius: 0.4em;
  background: #d7dcde;
  vertical-align: bottom;
}
form .checkbox input[type=checkbox]:not(old):checked + label > span,
form .checkbox input[type=radio]:not(old):checked + label > span {
  border-color: #910603;
  background: #910603;
}
form .checkbox input[type=checkbox]:not(old):checked + label > span:before {
  content: '✓';
  display: block;
  width: 1em;
  color: #ffffff;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  font-weight: normal;
}
form .checkbox input[type=radio]:not(old):checked + label > span > span {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.125em;
  border: 0.0625em solid #73994d;
  border-radius: 0.125em;
  background: #99cc66;
  background-image: -moz-linear-gradient(#b3d98c, #99cc66);
  background-image: -ms-linear-gradient(#b3d98c, #99cc66);
  background-image: -o-linear-gradient(#b3d98c, #99cc66);
  background-image: -webkit-linear-gradient(#b3d98c, #99cc66);
  background-image: linear-gradient(#b3d98c, #99cc66);
}
form input[type=radio] {
  display: none;
}
form input[type=radio] + label {
  display: block;
}
form input[type='radio'] + label:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 8px;
  width: 23px;
  font-size: 24px;
}
form input[type=radio] + label:before {
  content: "\f1db";
  /* Radio Unchecked */
  color: #acacac;
  vertical-align: middle;
}
form input[type=radio]:checked + label:before {
  content: "\f058";
  /* Radio Checked */
  color: #000;
}
form .radio label {
  padding-left: 0;
}
form .switch {
  width: 54px;
  height: 22px;
  position: relative;
  display: block;
  /* Elemento interactivo */
  /* Input */
}
form .switch label {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-color: #bdc2c7;
  cursor: pointer;
  /* Texto (si/no) */
  /* Circulo */
}
form .switch label:before {
  content: "NO";
  font-family: "Open Sans";
  color: white;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  top: 3px;
  right: 4px;
}
form .switch label:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-color: #818B8C;
  position: absolute;
  top: 3px;
  left: 4px;
}
form .switch input[type=checkbox] {
  display: none;
  /* Estado Activo. Por defecto es inactivo. */
}
form .switch input[type=checkbox]:checked + label {
  background-color: #87d76c;
}
form .switch input[type=checkbox]:checked + label:before {
  content: "SI";
  left: 6px;
}
form .switch input[type=checkbox]:checked + label:after {
  background-color: #ffffff;
  left: auto;
  right: 4px;
}
/* INET forms */
body.inet input {
  color: #373737;
  border-color: #e2e2e2;
  background-color: #ffffff;
}
body.inet input[type="text"] {
  width: 88%;
  padding: 10px;
}
body.inet input[type="submit"] {
  background-color: #373737;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  width: 90%;
  margin: 10% 5%;
}
.right {
  display: block;
  float: right;
}
.left {
  display: block;
  float: left;
}
.clear {
  clear: both;
  float: none;
}
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.centered {
  text-align: center;
}
.grayed {
  color: #7e7e7e;
}
.black {
  color: #000000;
}
.darkgrayed {
  color: #555555;
}
.lightgrayed {
  color: #919191;
}
.negative {
  color: #ea0808;
}
.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
#note {
  text-align: right;
  padding-top: 17px;
  padding-right: 17px;
  color: #9e9e9e;
}
hr.dashed {
  border-width: 0px;
  border-bottom: 1px dashed #d6d6d6;
}
.wideimage {
  width: auto !important;
  /*override the width below*/
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
/*Colors for icons, overriding:*/
.white {
  color: white;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite-ic_arrow_open {
  width: 22px;
  height: 22px;
  background-position: 0 0;
}
.sprite-ic_calendario {
  width: 30px;
  height: 30px;
  background-position: -22px -60px;
}
.sprite-ic_certificado_retenciones {
  width: 30px;
  height: 30px;
  background-position: -22px -660px;
}
.sprite-ic_closed {
  width: 22px;
  height: 22px;
  background-position: 0 -66px;
}
.sprite-ic_comedor {
  width: 30px;
  height: 30px;
  background-position: -22px -240px;
}
.sprite-ic_cuenta_bancaria {
  width: 30px;
  height: 30px;
  background-position: -22px -30px;
}
.sprite-ic_curriculum_vitae {
  width: 30px;
  height: 30px;
  background-position: -22px -120px;
}
.sprite-ic_datos_economicos {
  width: 30px;
  height: 30px;
  background-position: -22px 0;
}
.sprite-ic_datos_personales {
  width: 30px;
  height: 30px;
  background-position: -22px -90px;
}
.sprite-ic_descuento_empleado {
  width: 30px;
  height: 30px;
  background-position: -22px -180px;
}
.sprite-ic_informacion_salarial {
  width: 30px;
  height: 30px;
  background-position: -22px -690px;
}
.sprite-ic_intalent {
  width: 30px;
  height: 30px;
  background-position: -22px -210px;
}
.sprite-ic_mas {
  width: 30px;
  height: 30px;
  background-position: -22px -270px;
}
.sprite-ic_mis_nominas {
  width: 30px;
  height: 30px;
  background-position: -22px -570px;
}
.sprite-ic_objetivos {
  width: 30px;
  height: 30px;
  background-position: -22px -600px;
}
.sprite-ic_reconocimiento_medico {
  width: 30px;
  height: 30px;
  background-position: -22px -150px;
}
.sprite-ic_revision_salarial {
  width: 30px;
  height: 30px;
  background-position: -22px -630px;
}
.sprite-ic_close {
  width: 22px;
  height: 22px;
  background-position: 0 -992px;
}
.inverse .sprite-ic_close {
  width: 22px;
  height: 22px;
  background-position: 0 -374px;
}
.sprite-ic_atras {
  width: 22px;
  height: 22px;
  background-position: 0 -970px;
}
.inverse .sprite-ic_atras {
  background-position: 0 -418px;
}
.sprite-ic_select {
  width: 22px;
  height: 22px;
  background-position: 0 -440px;
}
.sprite-ic_civil {
  width: 22px;
  height: 22px;
  background-position: 0 -506px;
}
.sprite-ic_world {
  width: 30px;
  height: 30px;
  background-position: -22px -510px;
}
.sprite-ic_location {
  width: 30px;
  height: 30px;
  background-position: -22px -480px;
}
.sprite-ic_phone {
  width: 30px;
  height: 30px;
  background-position: -22px -540px;
}
.sprite-ic_person {
  width: 30px;
  height: 30px;
  background-position: -22px -450px;
}
.sprite-ic_cart {
  width: 22px;
  height: 22px;
  background-position: 0 -616px;
}
.sprite-ic_rarrow {
  width: 22px;
  height: 22px;
  background-position: 0 -638px;
}
.sprite-ic_informacion_complementaria {
  width: 30px;
  height: 30px;
  background-position: -22px -420px;
}
.sprite-ic_historial_academico {
  width: 30px;
  height: 30px;
  background-position: -22px -300px;
}
.sprite-ic_formacion_complementaria {
  width: 30px;
  height: 30px;
  background-position: -22px -360px;
}
.sprite-ic_idiomas {
  width: 30px;
  height: 30px;
  background-position: -22px -330px;
}
.sprite-ic_experiencia_profesional {
  width: 30px;
  height: 30px;
  background-position: -22px -390px;
}
.sprite-ic_cv {
  width: 22px;
  height: 22px;
  background-position: 0 -770px;
}
.sprite-ic_vacantes_listado {
  width: 22px;
  height: 22px;
  background-position: 0 -792px;
}
.sprite-ic_vacantes_seguimiento {
  width: 22px;
  height: 22px;
  background-position: 0 -814px;
}
.sprite-ic_timesheet {
  width: 30px;
  height: 30px;
  background-position: -22px -720px;
}
.sprite-ic_doc {
  width: 30px;
  height: 30px;
  background-position: -22px -750px;
}
.sprite-ic_mail {
  height: 20px;
  background-position: 5px -857px;
}
.sprite-ic_filter {
  width: 22px;
  height: 22px;
  background-position: 0 -1014px;
}
.inverse .sprite-ic_filter {
  background-position: 0 -880px;
}
.sprite-ic_cv_green {
  width: 22px;
  height: 22px;
  background-position: 0 -902px;
}
.sprite-ic_blocked {
  width: 22px;
  height: 22px;
  background-position: 0 -924px;
}
div.separator {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
body {
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 0px;
}
body.scroll #body {
  margin-right: 24px;
}
p {
  margin: 6px 0;
}
#note {
  font-size: 11px;
}
.header,
.popup-header {
  font-family: 'Open Sans';
  font-size: 14px;
  background: #ffffff;
  color: #000000;
  height: 54px;
  text-align: center;
}
.header #back,
.popup-header #back,
.header #close,
.popup-header #close,
.header #edit,
.popup-header #edit,
.header #select-popup-back,
.popup-header #select-popup-back {
  color: #000000;
  height: 22px;
  width: 22px;
  display: block;
  float: left;
  margin-left: 8px;
  margin-top: 15px;
}
.header .fa,
.popup-header .fa {
  color: #000000;
}
.header span,
.popup-header span {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
}
.header span.sprite,
.popup-header span.sprite {
  margin-right: 8px;
}
.header #edit,
.popup-header #edit {
  float: right;
  margin-right: 8px;
}
.header.inverse,
.popup-header.inverse {
  background: #444444;
  color: #ffffff;
}
.header.inverse #back,
.popup-header.inverse #back,
.header.inverse #close,
.popup-header.inverse #close,
.header.inverse #edit,
.popup-header.inverse #edit,
.header.inverse #select-popup-back,
.popup-header.inverse #select-popup-back,
.header.inverse .fa,
.popup-header.inverse .fa {
  color: #ffffff;
}
.msg {
  text-align: center;
  color: #000000;
}
.msg.error {
  background: url('../images/msg-info-50.png') top center no-repeat;
}
.msg.ok {
  background: url('../images/msg-ok-50 copy.png') top center no-repeat;
}
.msg.info {
  background: url('../images/msg-info-50.png') top center no-repeat;
}
.msg .body-wrapper {
  padding-top: 60px;
}
.msg .body-wrapper p {
  margin: 6px 20px;
}
.msg .body-wrapper p a {
  color: #000000;
  text-decoration: none;
}
.msg .body-wrapper p i.fa {
  margin-bottom: 20px;
  margin-right: 6px;
}
/* Styles for all listings in the design, specific
   modifications of the parent style for a particular
   page are indicated
*/
.icon {
  margin-left: 12px;
  margin-right: 16px;
  display: inline-block;
}
ul#menu,
ul.popup-menu {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
ul#menu.items-list,
ul.popup-menu.items-list {
  /* 'mis_nominas.html' */
}
ul#menu.items-list li.menu_item,
ul.popup-menu.items-list li.menu_item {
  line-height: 54px;
  color: #303030;
}
ul#menu.items-list li.menu_item div.salary,
ul.popup-menu.items-list li.menu_item div.salary {
  vertical-align: middle;
  display: inline-block;
  line-height: 14px;
  width: 80%;
  margin: 6px 0;
}
ul#menu.items-list li.menu_item div.salary .date,
ul.popup-menu.items-list li.menu_item div.salary .date {
  margin-top: 8px;
  font-size: 12px;
  color: #acacac;
}
ul#menu.reconocimiento_medico_form,
ul.popup-menu.reconocimiento_medico_form {
  padding-top: 10px;
  border-top: 1px solid #d6d6d6;
}
ul#menu.employee_information_form li.menu_item,
ul.popup-menu.employee_information_form li.menu_item,
ul#menu.reconocimiento_medico_form li.menu_item,
ul.popup-menu.reconocimiento_medico_form li.menu_item {
  line-height: 60px;
  color: #303030;
  padding-left: 15px;
}
ul#menu.employee_information_form li.menu_item div.field,
ul.popup-menu.employee_information_form li.menu_item div.field,
ul#menu.reconocimiento_medico_form li.menu_item div.field,
ul.popup-menu.reconocimiento_medico_form li.menu_item div.field {
  margin-right: 12px;
  vertical-align: middle;
  display: block;
  line-height: 14px;
}
ul#menu.employee_information_form li.menu_item div.field .label,
ul.popup-menu.employee_information_form li.menu_item div.field .label,
ul#menu.reconocimiento_medico_form li.menu_item div.field .label,
ul.popup-menu.reconocimiento_medico_form li.menu_item div.field .label {
  margin-bottom: 5px;
  margin-top: 16px;
}
ul#menu.employee_information li.menu_item,
ul.popup-menu.employee_information li.menu_item {
  border-bottom: 1px solid #d6d6d6;
  line-height: 50px;
  color: #303030;
  padding-left: 15px;
}
ul#menu.employee_information li.menu_item div.field,
ul.popup-menu.employee_information li.menu_item div.field {
  vertical-align: middle;
  display: inline-block;
  line-height: 14px;
}
ul#menu.employee_information li.menu_item div.field .label,
ul.popup-menu.employee_information li.menu_item div.field .label {
  margin-bottom: 5px;
}
ul#menu.profile,
ul.popup-menu.profile {
  /* 'area_personal.html' */
}
ul#menu.profile li.menu_item a,
ul.popup-menu.profile li.menu_item a {
  background: #ededed;
  border: none;
  margin: 6px;
  padding: 6px;
  color: #0F0F0F;
}
ul#menu.profile li.menu_item a span,
ul.popup-menu.profile li.menu_item a span {
  margin: 12px 0;
}
ul#menu.profile li.menu_item a .menu_item_ico,
ul.popup-menu.profile li.menu_item a .menu_item_ico {
  margin: 6px 17px 6px 0;
}
ul#menu .menu_item,
ul.popup-menu .menu_item {
  border-bottom: none;
  /** 
	Changing the #menu class from open to closed will hide the sublist and change
	the icon (for now we only change the color of the element)
 **/
}
ul#menu .menu_item a,
ul.popup-menu .menu_item a {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #d6d6d6;
  color: #404040;
  background: #ffffff;
}
ul#menu .menu_item a span,
ul.popup-menu .menu_item a span {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  margin: 16px 0;
}
ul#menu .menu_item a .icon,
ul.popup-menu .menu_item a .icon {
  margin: 6px 12px 6px 18px;
  width: 20px;
}
ul#menu .menu_item a .menu_item_ico,
ul.popup-menu .menu_item a .menu_item_ico {
  width: 30px;
  vertical-align: top;
}
ul#menu .menu_item a .expandable_indicator,
ul.popup-menu .menu_item a .expandable_indicator {
  /* Refers to links from the menu with a sub menu */
  display: inline-block;
  float: right;
  margin-top: 16px;
  margin-right: 8px;
  height: 22px;
  width: 22px;
}
ul#menu .menu_item.logout a,
ul.popup-menu .menu_item.logout a {
  border: none;
}
ul#menu .menu_item.logout a span,
ul.popup-menu .menu_item.logout a span {
  width: auto;
}
ul#menu .menu_item.logout a .logout,
ul.popup-menu .menu_item.logout a .logout {
  width: 30px;
  margin-right: 6px;
  vertical-align: middle;
}
ul#menu .menu_item.open,
ul.popup-menu .menu_item.open {
  border-bottom: 1px solid #d6d6d6;
}
ul#menu .menu_item.open a,
ul.popup-menu .menu_item.open a {
  border: none;
}
ul#menu .menu_item.open ul,
ul.popup-menu .menu_item.open ul {
  display: inherit;
}
ul#menu .menu_item.closed ul,
ul.popup-menu .menu_item.closed ul {
  display: none;
}
ul#menu .menu_item .menu_item_ico,
ul.popup-menu .menu_item .menu_item_ico {
  margin: 12px 18px 12px 8px;
}
ul#menu .menu_item .sub_menu,
ul.popup-menu .menu_item .sub_menu {
  list-style-type: none;
  margin-left: 21px;
  color: #404040;
  font-weight: 350;
  line-height: 40px;
}
ul#menu li.menu_item.logout,
ul.popup-menu li.menu_item.logout {
  border-bottom: none;
  text-align: center;
  padding: 20px;
}
span.logout {
  background-image: url(../images/logout.png);
  display: block;
  width: 30px;
  margin-right: 8px;
  height: 25px;
}
#home ul#menu .menu_item a span.menu-text {
  width: 70%;
}
#profile > div {
  border-bottom: 1px solid #d6d6d6;
  padding: 8px 17px;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
#profile > div #picture {
  min-height: 80px;
}
#profile > div #picture img {
  border-radius: 37px;
  width: 75px;
  height: 75px;
  background: gray;
}
#profile > div #fluid {
  min-height: 60px;
  margin-top: -75px;
  height: 62px;
  margin-left: 75px;
  text-align: center;
  padding-top: 15px;
}
#profile > div #fluid #name {
  color: #910603;
  text-transform: uppercase;
  margin-bottom: 8px;
  padding-left: 8px;
}
#profile > div #fluid #mail {
  color: #303030;
  font-size: 13px;
}
#profile > div #fluid.no-picture {
  margin-left: 0;
}
#profile > div #employee_number {
  border-bottom: 1.5px dashed #AEAEAE;
  margin-bottom: 8px;
  padding-bottom: 6px;
}
#profile > div #employee_number .first {
  display: inline-block;
  width: 30%;
  margin-right: 8px;
}
#profile > div #employee_number .second {
  display: inline-block;
  width: 60%;
}
#profile > div #sector {
  padding-bottom: 12px;
}
#profile #fileUploadField {
  display: none;
}
#profile #profile-data {
  font-size: 14px;
  padding-top: 0;
}
.block {
  border-bottom: 1px solid #d6d6d6;
  padding: 12px 17px;
}
.card,
.box {
  border-bottom: 1px solid #d6d6d6;
  color: #000000;
  background-color: #ededed;
  padding: 14px 17px;
  line-height: 22px;
}
.card ul,
.box ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
.card ul li .label,
.box ul li .label {
  color: #7e7e7e;
}
.card ul li .value,
.box ul li .value {
  float: right;
}
.card ul li .blocked,
.box ul li .blocked {
  color: #ea0808;
  position: relative;
  padding-left: 24px;
}
.card ul li .blocked i,
.box ul li .blocked i {
  display: inline-block;
  vertical-align: middle;
  background: image-url('../images/spritesheet.png') 0 -924px;
  width: 22px;
  /* width and height of the sprite image you want to display */
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
}
.card ul li .strong,
.box ul li .strong {
  font-weight: bold;
  color: #000000;
}
.card ul.small,
.box ul.small {
  font-size: 12px;
}
.card ul.small .value,
.box ul.small .value {
  float: right;
  color: #7e7e7e;
}
.box {
  border-top: solid 1px #d6d6d6;
  border-left: solid 1px #d6d6d6;
  border-right: solid 1px #d6d6d6;
  border-bottom: solid 1px #d6d6d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 12px;
}
.robber a {
  padding: 8px;
  color: #7e7e7e;
  background-color: #ededed;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  text-align: left;
  display: block;
  text-decoration: none;
  margin: 6px 0;
}
.robber a .left {
  margin-right: 8px;
  margin-left: 6px;
}
.robber a .right {
  margin-left: 6px;
}
.robber a span.text {
  display: inline;
  text-align: left;
  color: #7e7e7e;
}
.section,
.infobox {
  border-bottom: 1px solid #d6d6d6;
}
.section > div,
.infobox > div {
  padding: 20px 17px 3px;
}
.section > div .section-title,
.infobox > div .section-title {
  color: #910603;
  text-transform: uppercase;
}
.section > div .section-title.no-caps,
.infobox > div .section-title.no-caps {
  text-transform: none;
}
.section > div .section-title.small,
.infobox > div .section-title.small {
  font-size: 12px;
}
.section > div .section-title .fa,
.infobox > div .section-title .fa {
  color: #000000;
  margin-right: 4px;
}
.section > div .section-title .fa.arrow,
.infobox > div .section-title .fa.arrow {
  margin-left: 8px;
}
.section > div .section-desc,
.infobox > div .section-desc {
  color: #7e7e7e;
  font-size: 13px;
}
.section > div .section-desc.darker,
.infobox > div .section-desc.darker {
  color: #000;
}
.section > div .section-desc.lighter,
.infobox > div .section-desc.lighter {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
.section > div .section-desc.big,
.infobox > div .section-desc.big {
  font-size: 14px;
}
.section > div .section-desc.error,
.infobox > div .section-desc.error,
.section > div .section-desc.error a,
.infobox > div .section-desc.error a {
  color: #ea0808;
}
.section.no-separator,
.infobox.no-separator {
  border-bottom: 1px solid #ffffff;
}
.section.no-separator > div,
.infobox.no-separator > div {
  border-bottom: 1px solid #ffffff;
}
.infobox {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  background-color: #f2f2f2;
  color: #000000;
  padding-left: 15px;
}
.infobox > div {
  background: url('../images/info.png') center left no-repeat;
  padding: 17px;
}
.infobox .wrapper {
  padding-left: 50px;
  min-height: 40px;
}
.filters {
  display: none;
  padding-top: 16px;
}
.filters .title {
  color: #910603;
  margin-bottom: 6px;
}
.filters .title.no-caps {
  text-transform: none;
}
.filters .title.small {
  font-size: 12px;
}
.filters .title .fa {
  color: #910603;
  margin-right: 4px;
}
.filters .title .fa.arrow {
  margin-left: 8px;
}
.filters .menu_item {
  border: none;
}
.filters .filters-wrapper {
  margin-bottom: 12px;
}
.filters.no-separator > div {
  border-bottom: 1px solid #ffffff;
}
.filters .buttons {
  padding-top: 6px;
}
.items-list {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  font-size: 13px;
}
.items-list li {
  border-bottom: 1px solid #d6d6d6;
  padding: 14px 0px;
  color: #7e7e7e;
  position: relative;
  margin: 5px 21px 5px 14px;
  padding: 0;
  margin: 0;
}
.items-list li .details {
  margin-top: 8px;
}
.items-list li .concept {
  color: #910603;
  text-transform: uppercase;
  position: absolute;
  right: 0;
}
.items-list li .ticket,
.items-list li .total {
  color: #000000;
}
.items-list li .value {
  display: block;
  float: right;
}
.search-results li {
  border-top: solid 1px #d6d6d6;
  border-left: solid 1px #d6d6d6;
  border-right: solid 1px #d6d6d6;
  border-bottom: solid 1px #d6d6d6;
  margin: 6px 0;
  padding: 12px;
}
.search-results li.vacant {
  position: relative;
}
.search-results li.vacant .group {
  margin: 6px 0;
}
.search-results li.vacant .actions {
  position: absolute;
  top: 20px;
  right: 12px;
}
.search-results li.vacant .actions .icon {
  margin-right: 6px;
}
.search-results li.vacant .actions a {
  color: #910603;
  text-decoration: none;
}
/* Popup that replace selects options */
#select-popup {
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: none;
  border: 0;
}
#select-popup .items-list .menu_item {
  padding-left: 18px;
  border-bottom: 1px solid #d6d6d6;
}
#select-popup .items-list .menu_item a {
  border-bottom: none;
}
#vacantes-listado .filters,
#vacantes-seguimiento .filters {
  border: none;
  padding: 20px 17px 3px;
  border-bottom: 1px solid #d6d6d6;
}
#vacantes-listado .filters .checkbox,
#vacantes-seguimiento .filters .checkbox {
  width: 50%;
  float: left;
}
#vacantes-listado .filters .checkbox label,
#vacantes-seguimiento .filters .checkbox label {
  width: 95%;
  text-indent: -2em;
  margin-left: 3em;
}
#vacantes-listado .filters .checkbox input[type="checkbox"]:checked:not(old) + label > span::before,
#vacantes-seguimiento .filters .checkbox input[type="checkbox"]:checked:not(old) + label > span::before {
  width: 3em;
}
#vacantes-listado .filters .label,
#vacantes-seguimiento .filters .label {
  vertical-align: top;
  margin-top: 12px;
}
#vacantes-listado .search-results,
#vacantes-seguimiento .search-results {
  padding: 20px 17px 3px;
}
#vacantes-listado .search-results #note,
#vacantes-seguimiento .search-results #note {
  text-align: left;
}
#vacantes-listado .items .item .field,
#vacantes-seguimiento .items .item .field {
  padding-right: 60px;
}
#vacantes-listado .items .item a,
#vacantes-seguimiento .items .item a {
  text-decoration: none;
  color: #000000;
}
#vacantes-listado .items .item .actions,
#vacantes-seguimiento .items .item .actions {
  top: 35%;
}
#vacantes-listado .items .item .actions a.add,
#vacantes-seguimiento .items .item .actions a.add {
  color: #34afbf;
  text-decoration: none;
  font-size: 12px;
}
#vacantes-listado .items .item .actions a.add i.sprite,
#vacantes-seguimiento .items .item .actions a.add i.sprite {
  display: inline-block;
  margin-left: 14px;
  vertical-align: bottom;
}
#mi-curriculum-vitae .items .item .field {
  margin: 6px 0;
}
#mi-curriculum-vitae .items .item .actions {
  top: 15px;
}
#mi-curriculum-vitae input[type=file] {
  display: none;
}
#my_account {
  font-size: 13px;
  position: relative;
}
#my_account .items .item {
  padding: 6px 12px;
  min-height: 51px;
}
#my_account #edit-account-information {
  padding: 12px 17px;
  white-space: nowrap;
  overflow-x: hidden;
  width: auto;
  position: relative;
}
#my_account #edit-account-information #account_number {
  overflow: hidden;
}
#my_account #edit-account-information input,
#my_account #edit-account-information select {
  display: inline-block;
}
#my_account #edit-account-information input[name=acc_num1],
#my_account #edit-account-information select[name=acc_num1] {
  width: 20%;
}
#my_account #edit-account-information input[name=acc_num2],
#my_account #edit-account-information select[name=acc_num2] {
  width: 20%;
}
#my_account #edit-account-information input[name=acc_num3],
#my_account #edit-account-information select[name=acc_num3] {
  width: 60%;
}
#intalent .section-desc {
  margin-bottom: 20px;
}
#intalent .section-desc div {
  text-align: center;
}
#intalent #buttons {
  border-bottom: 1px solid #d6d6d6;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
}
#intalent #buttons.left {
  float: left;
}
#intalent #buttons.right {
  float: right;
}
#intalent #buttons a {
  display: block;
  width: 40%;
  color: #6BAEBD;
  text-decoration: none;
  text-align: center;
}
#intalent #buttons img {
  display: block;
  margin: 0 auto;
  max-height: 80px;
  margin-bottom: 6px;
}
#intalent h2 {
  text-align: center;
  font-variant: small-caps;
  font-weight: 400;
  margin-top: 18px;
  display: block;
  font-size: 15px;
  line-height: 10px;
}
#intalent #areas > div {
  margin: 0 auto;
  text-align: center;
  border: none;
  padding: 0px;
}
#intalent #areas > div img {
  margin: 2px;
  max-width: 46%;
  display: inline-block;
}
#intalent #hello {
  background: #6baebd;
  margin: 6px;
  color: #FFFFFF;
  font-weight: 300;
  margin-top: 0px;
}
#intalent #hello h1 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-size: 45px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}
#intalent #hello img.center {
  margin: 0 auto;
  display: block;
  max-width: 50px;
}
#intalent #hello div {
  margin-top: 16px;
  margin-bottom: 12px;
}
#scroller {
  position: absolute;
  top: 75px;
  right: 8px;
  width: 16px;
  font-size: 10px;
}
#scroller a {
  text-decoration: none;
  color: #7e7e7e;
}
.transactions {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  font-size: 13px;
}
.transactions li {
  border-bottom: 1px solid #d6d6d6;
  padding: 14px 17px;
  position: relative;
}
.transactions li a {
  text-decoration: none;
  color: #7e7e7e;
}
.transactions li a span.icon {
  margin-top: 5px;
  vertical-align: top;
  color: #000000;
  margin-left: 0px;
  margin-right: 8px;
}
.transactions li a div.data {
  display: inline-block;
  max-width: 60%;
}
.transactions li a div.data .type {
  color: #910603;
  text-transform: uppercase;
  position: absolute;
  right: 17px;
}
.transactions li a div.data .ammount {
  position: absolute;
  right: 17px;
  top: 32px;
}
.transactions li a div.data .concept {
  color: #000000;
  text-transform: uppercase;
}
.expenses {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  font-size: 13px;
}
.expenses li {
  border-bottom: 1px solid #d6d6d6;
  padding: 14px 0px;
  color: #7e7e7e;
  position: relative;
  margin: 5px 21px 5px 14px;
}
.expenses li .details {
  margin-top: 8px;
}
.expenses li .floats-container .concept {
  color: #910603;
  text-transform: uppercase;
  display: block;
  float: right;
  max-width: 60%;
  text-align: right;
}
.expenses li .floats-container .date {
  display: block;
  float: left;
}
.expenses li .ticket,
.expenses li .total {
  color: #000000;
}
.expenses li .value {
  display: block;
  float: right;
}
#salary-info .items-list li {
  padding: 16px 14px;
  margin: 0px;
}
#salary-info .items-list li .label {
  color: #000000;
}
#salary-info .items-list li div.total {
  margin-top: 8px;
}
.single-field {
  border-bottom: 1px solid #d6d6d6;
  padding: 12px;
}
.experiencia-profesional .section-w,
.intalent-list .section-w {
  border: none;
}
.experiencia-profesional .section-w .section-title,
.intalent-list .section-w .section-title {
  text-transform: none;
}
.experiencia-profesional .items .item,
.intalent-list .items .item,
.experiencia-profesional .items #add,
.intalent-list .items #add {
  padding: 12px 16px;
  margin: 8px;
  border: #d6d6d6 1px solid;
  position: relative;
}
.experiencia-profesional .items .item .field,
.intalent-list .items .item .field,
.experiencia-profesional .items #add .field,
.intalent-list .items #add .field {
  margin-bottom: 12px;
}
.experiencia-profesional .items .item a.edit,
.intalent-list .items .item a.edit,
.experiencia-profesional .items #add a.edit,
.intalent-list .items #add a.edit {
  position: absolute;
  color: black;
  right: 0;
  top: 45%;
  padding: 6px;
}
.experiencia-profesional .items #add,
.intalent-list .items #add {
  border: #000000 1px solid;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  margin-top: 8px;
  text-decoration: none;
  color: black;
}
.btn-group {
  margin-top: 20px;
  padding: 0;
  margin-left: 20px;
}
.btn-group .btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top: solid 1px #555555;
  border-left: solid 1px #555555;
  border-right: solid 1px #555555;
  border-bottom: solid 1px #555555;
  display: inline-block;
  float: left;
  min-width: 120px;
  color: #555555;
  text-decoration: none;
  padding: 2px 12px;
  text-align: center;
  font-size: 13px;
}
.btn-group .btn.active {
  color: #ffffff;
  background-color: #555555;
}
.btn-group .btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tags .tag {
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
  padding: 1px 20px;
  background-color: #c73f3b;
}
.listing .section-w {
  border: none;
}
.listing .section-w .section-title {
  text-transform: none;
}
.listing .items .item,
.listing .items #add {
  padding: 10px;
  border-bottom: #d6d6d6 1px solid;
  position: relative;
}
.listing .items .item.highlight,
.listing .items #add.highlight {
  background-color: #f2f2f2;
}
.listing .items .item .value,
.listing .items #add .value {
  margin: 3px 0;
}
.listing .items .item .field,
.listing .items #add .field,
.listing .items .item .tags,
.listing .items #add .tags {
  margin: 6px;
}
.listing .items .item .title,
.listing .items #add .title {
  color: #910603;
}
.listing .items .item .note,
.listing .items #add .note {
  font-size: 12px;
}
.listing .items .item .actions,
.listing .items #add .actions {
  position: absolute;
  right: 12px;
  top: 40%;
}
.listing .items .item .actions a.edit,
.listing .items #add .actions a.edit,
.listing .items .item .actions a.delete,
.listing .items #add .actions a.delete {
  color: black;
  padding: 6px;
}
.listing .items #add {
  margin: 20px 8px 8px 8px;
  border: #000000 1px solid;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  text-decoration: none;
  color: black;
}
#consumos_comedor #month_list,
#descuento-empleado #month_list {
  cursor: pointer;
}
#consumos_comedor #month_list i,
#descuento-empleado #month_list i {
  color: #910603;
}
#consumos_comedor #month_list div,
#descuento-empleado #month_list div {
  display: none;
}
#consumos_comedor #month_list div a,
#descuento-empleado #month_list div a {
  padding: 8px 0px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border-bottom: 1px solid #d6d6d6;
}
#consumos_comedor #month_list div a:last-of-type,
#descuento-empleado #month_list div a:last-of-type {
  border: none;
}
#mi_cv #more_info span.label {
  vertical-align: top;
  margin-right: 6px;
}
#mi_cv #more_info .switch {
  display: inline-block;
}
#reconocimiento-medico form {
  border-bottom: 1px solid #d6d6d6;
}
#reconocimiento-medico form .radio-grp {
  border-top: 1px solid #d6d6d6;
  background-color: #f2f2f2;
  padding: 15px 30px 15px 30px;
}
#reconocimiento-medico form .radio-grp .radio {
  float: left;
  width: 50%;
}
#reconocimiento-medico form .actions {
  padding: 0px 12px 0px 15px;
  margin-bottom: 30px;
}
#reconocimiento-medico form .toggle {
  display: none;
}
#reconocimiento-medico #menu span.label {
  vertical-align: top;
  margin-right: 6px;
}
#reconocimiento-medico #menu .switch {
  display: inline-block;
  top: -4px;
  margin-bottom: 18px;
}
#reconocimiento-medico .items {
  padding-top: 18px;
  margin-top: 0;
}
#reconocimiento-medico .items li {
  padding: 12px 17px 3px 26px;
  min-height: 30px;
}
#reconocimiento-medico .items li .date {
  float: left;
  width: 70%;
}
#reconocimiento-medico .items li .status {
  float: right;
  width: 30%;
}
#reconocimiento-medico .items .title {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
  color: #910603;
}
#retribucion-flexible .section-title .fa-question-circle {
  vertical-align: middle;
}
.experiencia-profesional .items {
  margin: 10px;
  background-color: #f4f3f3;
}
.experiencia-profesional .items .separator {
  height: 1px;
  margin: 0px 12px;
  background-color: #f4f3f3;
  border-bottom: 1px solid #878787;
}
.experiencia-profesional .items .item {
  border-width: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.experiencia-profesional .items .item-head {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 28px;
}
.experiencia-profesional .items .item-head .edit {
  position: absolute;
  right: 4px;
  top: 35%;
  color: black;
}
.experiencia-profesional .items .item-head .title {
  color: #810000;
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 4px;
}
.experiencia-profesional .items .item-head .country {
  margin-top: 4px;
}
.experiencia-profesional #add {
  border: #000000 1px solid;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  text-decoration: none;
  color: black;
  margin: 10px;
}
.experiencia-profesional.empresa .items {
  margin: 10px;
  background-color: #ffffff;
  border: #d6d6d6 1px solid;
}
.experiencia-profesional.empresa #add {
  margin: 12px;
  margin-left: 16px;
  line-height: 19px;
}
.experiencia-profesional.empresa .button {
  display: block;
  text-align: center;
  color: #f34646;
  text-transform: uppercase;
  text-decoration: none;
}
#body.informacion_complementaria li.menu_item {
  margin-bottom: 20px;
}
#body .body-wrapper {
  margin: 20px 15px;
}
#body .body-wrapper a {
  color: #910603;
  text-decoration: none;
}
#body .body-wrapper h2 {
  color: #910603;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}
#body .body-wrapper p {
  margin-bottom: 12px;
}
#body .body-wrapper ul {
  padding-left: 16px;
  list-style: circle;
}
#body .body-wrapper ol {
  padding-left: 16px;
}
body#idioma {
  background: url('../images/bg-idioma.png') center center no-repeat;
  background-size: 100%;
}
body#idioma .body-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 100px;
}
body#idioma .actions {
  position: absolute;
  bottom: 20px;
  width: 91%;
}
body.pantalla-de-acceso {
  background-image: url(../images/bg.png);
  background-color: #94938B;
  background-repeat: no-repeat;
  background-size: cover;
}
body.pantalla-de-acceso div.header {
  background-color: #9B0000;
  text-align: center;
  padding: 4px;
}
body.pantalla-de-acceso div.header img {
  height: 100%;
}
body.pantalla-de-acceso div#login div#title {
  font-family: 'Open Sans';
  font-size: 14px;
  margin-top: 30px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
body.pantalla-de-acceso div#login ul#menu {
  margin-bottom: 10px;
  margin-top: 50px;
}
body.pantalla-de-acceso div#login form {
  margin: 40px 60px 60px;
}
body.pantalla-de-acceso div#login form div.label {
  color: white;
  font-size: 14px;
}
body.pantalla-de-acceso div#login form input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 8px;
  margin: 0;
}
body.pantalla-de-acceso div#login form #submit {
  margin-top: 50px;
  padding: 8px 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: transparent!important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}
body.pantalla-de-acceso div#login form a.forgotpass {
  background: none;
  border: none;
  color: #ffa800;
  font-size: 11px;
}
body#detalle-vacante .listing .items .item {
  padding: 6px 12px;
}
body#mensaje .actions {
  display: block;
  text-align: center;
  margin-top: 24px;
}
body#mensaje .actions .button {
  padding: 12px 16px;
  margin: 0px;
  border: #d6d6d6 1px solid;
  position: relative;
  text-transform: uppercase;
  color: #000000;
  display: block;
}
body#mensaje .actions .button.cancel {
  color: #f34646;
  border-color: #f34646;
}
body#mensaje .actions.two .button {
  float: left;
  width: 37%;
}
body#mensaje .actions.two .button.last {
  float: right;
}
.ui-autocomplete {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
}
/* inet overrides */
body.inet.login {
  background-color: #e2e2e2;
}
body.inet.login .header {
  background-color: #e2e2e2;
  border-bottom: 1px dotted #373737;
  margin: 18px 20px;
  height: 84px;
  padding-right: 0;
}
body.inet.login #body {
  margin: 18px 20px;
}
body.inet .header {
  padding-right: 24px;
  background-color: #333333;
}
body.inet #body .body-wrapper i,
body.inet #body .body-wrapper a {
  color: #373737;
}
.info-salary ul {
  list-style-type: none;
}
.info-salary li {
  background: transparent url(../images/dottedborder.png) repeat-y 25px 0;
  padding: 5px 10px 5px 35px;
  position: relative;
  margin-bottom: 10px;
}
.info-salary .info-salary-ico {
  position: absolute;
  left: 0;
  top: 7px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../images/spritesheet.png);
}
.info-salary .ico-info {
  background-position: -3px -663px;
}
.info-salary .ico-help {
  background-position: 0 -952px;
}
.info-salary a {
  color: #333;
}
.info-retribucion-flexible {
  padding: 0 14px;
}
.info-retribucion-tit {
  color: #7e7e7e;
  padding: 14px 14px 4px 14px;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}
.factions {
  display: block;
  text-align: center;
  margin-top: 24px;
}
.factions .button {
  padding: 12px 16px;
  margin: 0px;
  border: #d6d6d6 1px solid;
  position: relative;
  text-transform: uppercase;
  color: #000000;
  display: block;
}
.note-recon {
  position: absolute;
  right: 10px;
  top: -16px;
}
.note-holder {
  position: relative;
}
.note-holder .note-recon {
  padding: 0!important;
  line-height: 1em;
}
.note-holder-renuncio .note-recon {
  top: 0;
}
