//Imports for the mobile boilerplate
//@import url("mobile_boilerplate.css");
//@import url("mobile_normalize.css");

//Imports for definitions, fonts and dimensions
@import url("jquery-ui-1.10.3.custom.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

@import url("colors.less");
@import url("dimensions.less");
@import url("fonts.less");
@import url("forms.less");
@import url("mixins.less");
@import url("sprites.less");


div.separator {
	.bottom-border(@color_list_separator_grey);
	margin-bottom: 8px;
	padding-bottom: 8px;
}

//Definitions
body{
	.font_main;
	margin:0px;
	&.scroll #body{
		margin-right:24px;
	}
}

p {
	margin: 6px 0;
}

#note{
	font-size: @font-tinny;
}

.header, .popup-header{
	.font_main;
	background: @color_header_background;
	color: @color_header_text;
	height: @header_height;
	text-align: center;

	#back, #close, #edit, #select-popup-back {
		color: @color_header_text;
		height:			@dim_menu_item_icon_height;
		width:			@dim_menu_item_icon_height;
		display:block;
		float:left;
		margin-left: 8px;
		margin-top: 15px;
	}
	.fa {
		color: @color_header_text;		
	}

 	span {
 		text-transform: uppercase;
		display: inline-block; 
		vertical-align:	middle;
		margin-top: 16px;
		&.sprite { margin-right: 8px;}
	}

	#close{
	}

	#edit {
		float:right;
		margin-right: 8px;
	}

	&.inverse {
		background: @color_header_background_inv;
		color: @color_header_text_inv;

		#back, #close, #edit, #select-popup-back, .fa {
			color: @color_header_text_inv;
		}
	}

}

.msg {
	text-align: center;
	color: @color_intro_body;

	&.error {
		background: url('../images/msg-info-50.png') top center no-repeat;
	}
	&.ok {
		background: url('../images/msg-ok-50 copy.png') top center no-repeat;
	}
	&.info{
		background: url('../images/msg-info-50.png') top center no-repeat;
	}

	.body-wrapper {
		padding-top: 60px;

		p {
			margin: 6px 20px;

			a {
				color: @color_intro_body;
				text-decoration: none;
			}

			i.fa {
				margin-bottom: 20px;
				margin-right: 6px;
			}

		}

	}

}

/* Styles for all listings in the design, specific
   modifications of the parent style for a particular
   page are indicated
*/
.icon{
	margin-left:12px;
	margin-right:16px;
	display:inline-block;
}


ul#menu, ul.popup-menu {

	list-style-type: 	none;
	padding-left: 		0px;
	margin:				0px;

	&.items-list{
		/* 'mis_nominas.html' */
		li.menu_item{
			line-height: 54px;
			color: @color_salaries_list_text;

			div.salary{
				vertical-align: middle;
				display: inline-block;
				line-height: 14px;
				width:80%;
				margin: 6px 0;
				.date{
					margin-top:	8px;
					font-size: @font-smallest;
					color: @color_salaries_list_date_text;
				}
			}
		} 
	}

 
	&.reconocimiento_medico_form {
		padding-top:10px;
		border-top: 1px solid @color_list_separator_grey;
	}

	&.employee_information_form, 
	&.reconocimiento_medico_form {
		li.menu_item{
			line-height: 		60px;
			color:				@color_salaries_list_text;
			padding-left:		15px;

			div.field{
				
				margin-right:12px;
				vertical-align: middle;
				display:		block;
				line-height: 	14px;
				.label{
					margin-bottom:5px;
					margin-top:16px;
				}
			}
		}
	}

	&.employee_information{

		li.menu_item{
			.bottom-border(@color_list_separator_grey);
			line-height: 		50px;
			color:				@color_salaries_list_text;
			padding-left:		15px;

			div.field{
				vertical-align: middle;
				display:		inline-block;
				line-height: 	14px;
				.label{
					margin-bottom:5px;
				}
			}
		} 
	}

	&.profile {
		/* 'area_personal.html' */
		li.menu_item {

			a {
				background: @color_profile_item_background;
				border:		none;
				margin:		6px;
				padding:	6px;
				color:		#0F0F0F;

				span {
					margin: 12px 0;
				}

				.menu_item_ico{
					margin: 6px 17px 6px 0;
				}
			}
		}
	}

	.menu_item{
		border-bottom: none;

		a{
			display:block;
			text-decoration: none;

			.bottom-border(@color_list_separator_grey);

			color: @color_list_text;
			background: @color_item_background;

			span{
				display: inline-block; 
				width: 80%;
				//line-height: @font-medium;
				vertical-align: middle;
				margin: 16px 0;
			}

			.icon {
				margin: 6px 12px 6px 18px;
				width: 20px;
			}

			.menu_item_ico {
				width: 30px;
				vertical-align: top;
			}
			.expandable_indicator {
				/* Refers to links from the menu with a sub menu */
				display: inline-block;
				float: right;
				margin-top: 16px;
				margin-right:	8px;
				height: @dim_menu_item_icon_height;
				width: @dim_menu_item_icon_height;
			}
		}
	&.logout{
		a{
			border:none;

			span {
				width: auto;
			}
			.logout {
				width: 30px;
				margin-right: 6px;
				vertical-align: middle;
			}

		}
	}

/** 
	Changing the #menu class from open to closed will hide the sublist and change
	the icon (for now we only change the color of the element)
 **/
		&.open {
			a{
				border:none;
			}
			ul{ 
				display: inherit; 
				
			}
			.bottom-border(@color_list_separator_grey);
		}

		&.closed {
			ul{ display: none; }
		}

		.menu_item_ico {
			margin: 12px 18px 12px 8px;
		}

		.sub_menu{
			list-style-type: none;
			margin-left:21px;
			color: @color_submenu_list_text;
			font-weight: 350;
			line-height: 40px;
		}
	}

	li.menu_item.logout {
		border-bottom: none;
		text-align: center;
		padding:20px;
	}
}

span.logout{
	background-image: url(../images/logout.png);
	display:block;
	width:30px;
	margin-right:8px;
	height:25px;
}

#home ul#menu .menu_item a span.menu-text {
	width: 70%;
}

#profile{
	>div{
		.bottom-border(@color_list_separator_grey);
		padding:8px 17px;
		padding-bottom:0px;
		margin-bottom:8px;
		
		#picture {
			min-height: 80px;

			img{
				border-radius:37px;
				width:75px;
				height:75px;
				background: gray;
			}
		}

		#fluid{
			min-height: 60px;
			margin-top:-75px;
			height:62px;
			margin-left:75px;
			text-align: center;
			padding-top:15px;

			#name{
				color:@color_profile_name;
				text-transform: uppercase;
				margin-bottom:8px;
				padding-left:8px;
			}
			#mail{
				color:@color_profile_mail;
				font-size:@font-small;
			}

			&.no-picture{
				margin-left:0;
			}
		}


		#employee_number{
			.first{
				display:inline-block;
				width:30%;
				margin-right: 8px;
			}

			.second{
				display:inline-block;
				width:60%;
			}

			border-bottom:1.5px dashed #AEAEAE;
			margin-bottom:8px;
			padding-bottom:6px;
		}

		#sector{
			padding-bottom:12px;
		}
	}
	#fileUploadField {
		display: none;
	}
	#profile-data {
		font-size: @font-medium;
		padding-top:0;
	}
}	

.block {
	.bottom-border(@color_list_separator_grey);
	padding:12px 17px;
}


.card, .box{
	.bottom-border(@color_list_separator_grey);

	color:@color_intro_body;
	background-color: @color_profile_item_background;
	padding: 14px 17px;
	line-height: 22px;

	ul{
		
		list-style-type: none;
		padding-left: 0px;
		margin: 0px;

		li{
			.label{
				color: @color_intro_text;
			}
			.value{
				float: right;
			}
			.blocked{
				color: @color_negative;
				position: relative;
				padding-left: 24px;

				i {
					display: inline-block;
					vertical-align: middle;
				  background: image-url('../images/spritesheet.png') 0 -924px;
				  width:  22px; /* width and height of the sprite image you want to display */
				  height: 22px;
				  position: absolute;
				  top: 0;
				  left: 0;
				}

				//background: none repeat scroll 0% 0% #ABC3D9;
				//padding-left: 28px;
			}
			.strong{
				font-weight: bold;
				color: @color_intro_body;
			}
		}
	}

	ul.small {
		font-size: @font-smallest;
		.value{
			float: right;
			color: @color_intro_text;
		}
	}

}


.box{
	.bordered(@color_list_separator_grey, @color_list_separator_grey, @color_list_separator_grey, @color_list_separator_grey);
	.rounded(3px);
	margin-right: 8px;
	margin-left: 8px;
	padding: 12px;
}

.robber a{
	padding: 8px;
	color: @color_intro_text;
	background-color: @color_profile_item_background;
	border-top: 1px solid @color_list_separator_grey;
	border-bottom: 1px solid @color_list_separator_grey;
	text-align: left;
	display: block;
	text-decoration: none;
	margin: 6px 0;

	.left{
		margin-right: 8px;
		margin-left: 6px;
	}
	.right{
		margin-left:6px;
	}

	span{
		&.text{
			display: inline;
			text-align: left;
			color: @color_intro_text;
		}
	}
}

.section, 
.infobox {
	.bottom-border(@color_list_separator_grey);
	>div {
		
		padding: 20px 17px 3px;

		.section-title{
			color: @color_intro_title;
			text-transform: uppercase;

			&.no-caps{
				text-transform: none;
			}

			&.small {
				font-size: @font-smallest;
			}

			.fa {
				color: @color_intro_body;
				//vertical-align: middle;
				margin-right:4px;

				&.arrow {
					margin-left: 8px;
				}
			}

		}

		.section-desc{
			color: @color_intro_text;
			font-size: @font-small;

			&.darker {
				color: #000;
			}

			&.lighter {
				.opacity(0.7);
			}

			&.big {
				font-size: @font-medium;
			}

			&.error, &.error a{
				color:@color_negative;
			}
		}
	}

	&.no-separator{
		.bottom-border(#FFFFFF);
		>div {
			.bottom-border(#FFFFFF);
		}
	}

}

.infobox {
	.top-border(@color_list_separator_grey);
	.bottom-border(@color_list_separator_grey);
	background-color: @color_form_input_background;
	color: @color_intro_body;
	padding-left: 15px;

	>div {
		background: url('../images/info.png') center left no-repeat;
		padding: 17px;
	}

	.wrapper {
		padding-left: 50px;
		min-height: 40px;
	}
}

.filters{
	display: none;
	padding-top: 16px;

	.title{
		color: @color_intro_title;
		margin-bottom: 6px;

		&.no-caps{
			text-transform: none;
		}

		&.small {
			font-size: @font-smallest;
		}

		.fa {
			color: @color_intro_title;
			margin-right:4px;

			&.arrow {
				margin-left: 8px;
			}
		}

	}

	.menu_item {
		border: none;
	}

	.filters-wrapper {
		margin-bottom:12px;
	}

	&.no-separator{
		>div {
			.bottom-border(@color_item_background);
		}
	}

	.buttons {
		padding-top: 6px;
	}

}

.items-list{
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
	font-size: @font-small;

	li{
		.bottom-border(@color_list_separator_grey);

		padding: 14px 0px;
		color: @color_intro_text;
		position:relative;
		margin: 5px 21px 5px 14px;
		padding:0;
		margin:0;

		.details {
			margin-top: 8px;
		}

		.concept {
			color: @color_intro_title;
			text-transform: uppercase;
			position: absolute;
			right: 0;
		}

		.ticket, .total {
			color: @color_intro_body;
		}

		.value {
			.right
		}

	}
}


.search-results {

	li {
		.bordered(@color_list_separator_grey,@color_list_separator_grey,@color_list_separator_grey,@color_list_separator_grey);
		margin: 6px 0;
		padding: 12px;

		&.vacant {
			position: relative;

			.group {margin: 6px 0}

			.actions{
				position: absolute;
				top: 20px;
				right: 12px;

				.icon {
					margin-right: 6px;
				}
				
				a {
					color: @color_intro_title;
					text-decoration: none;
				}

			} 
		}

	}
	
}

/* Popup that replace selects options */
#select-popup {
	background-color: @color_item_background;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: none;
	border: 0;
	.items-list {
		.menu_item {
			padding-left: 18px;
			border-bottom: 1px solid @color_list_separator_grey;

			a {
				border-bottom: none;
			}
		}
	}
}




#vacantes-listado, 
#vacantes-seguimiento {

	.filters {
		border: none;
		padding: 20px 17px 3px;
		border-bottom: 1px solid @color_list_separator_grey;

		.checkbox {
			width: 50%;
			float:left;

			label {
				width: 95%;
				text-indent: -2em;
				margin-left: 3em;
			}

			input[type="checkbox"]:checked:not(old) + label > span::before {
				width: 3em;
			}
		}

		.label {
			vertical-align: top;
			margin-top: 12px;
		}
	}

	.search-results {
		padding: 20px 17px 3px;
		#note {
			text-align: left;
		}
	}

	.items .item {

		.field {
			padding-right: 60px;
		}

		a {
			text-decoration: none;
			color: @color_intro_body;
		}

		.actions {
			top: 35%;

			a.add {
				color: #34afbf;
				text-decoration: none;
				font-size: 12px;

				i {
					// padding-left: 22px;
					// font-size: 20px;
					&.sprite {
						display: inline-block;
						margin-left: 14px;
						vertical-align: bottom;
					}
				}
			}
		}
	}



}

#mi-curriculum-vitae {

	.items .item{
		.field {
			margin: 6px 0;
		}
		.actions {
			top: 15px;
		} 
	}

	input[type=file]{
		display: none;
	}
}
// Old design with file browser
//
// #mi-curriculum-vitae {
// 	#intro {
// 		a {
// 			color: @color_intro_title;
// 			text-decoration: none;
// 		}
// 	}
// 	form {
// 		padding: 20px 17px 3px;
// 	}
// 	.items {
// 		padding: 20px 17px 3px;
// 		.title {
// 			color: @color_intro_title;
// 		}
// 		li {
// 			.bordered(@color_list_separator_grey,@color_list_separator_grey,@color_list_separator_grey,@color_list_separator_grey);
// 			margin: 6px 0;
// 			padding: 12px;
// 			&.cv {
// 				position: relative;
// 				a {
// 					text-decoration: none
// 				}
// 				.icon {
// 					margin-right: 6px;
// 				}
// 				.actions{
// 					text-align: center;
// 					margin-top: 12px;
// 					a {
// 						display: inline-block;
// 					}
// 				} 
// 			}
// 		}
		
// 	}
// }


#my_account{
	font-size:@font-small;
	position:relative;

	.items .item {
		padding: 6px 12px;
		min-height: 51px;
	}

	#edit-account-information{

		padding:12px 17px;
		white-space: nowrap;
		overflow-x: hidden;
		width:auto;
		position:relative;

		#account_number{
			overflow:hidden;
		}
		input,select{
			display:inline-block;
			&[name=acc_num1]{width:20%}
			&[name=acc_num2]{width:20%}
			&[name=acc_num3]{width:60%}
		}
	}	
}

#intalent{
	.section-desc{
		margin-bottom:20px;
		div{
			text-align: center;
		}
	}

	#buttons{
		border-bottom:1px solid @color_list_separator_grey;
		padding-top:12px;
		padding-bottom:12px;
		padding-left:30px;
		padding-right:30px;

		&.left{
			float:left;
		}
		&.right{
			float:right;
		}
		a{
			display:block;
			width:40%;
			color:#6BAEBD;
			text-decoration: none;
			text-align: center;

		}
		img{
			display:block;
			margin:0 auto;
			max-height:80px;
			margin-bottom:6px;
		}
	}

	h2{
		text-align: center;
		font-variant: small-caps;
		font-weight: 400;
		margin-top:18px;
		display:block;
		font-size:@font-big;
		line-height:10px;
	}
	#areas{
		>div{
			margin:0 auto;
			text-align: center;
			border: none;
			padding:0px;
			img{
				margin:2px;
				max-width: 46%;
				display:inline-block;
			}
		}
	}

	#hello{
		background: @color_intalent_bluegreen;
		margin:6px;
		color: #FFFFFF;
		font-weight:300;
		margin-top:0px;
		h1{
			.font_main;
			font-size: @font-biggest;
			text-align: center;
			font-weight: 400;
			text-transform: uppercase;
		}

		img.center{
			margin:0 auto;
			display:block;
			max-width: 50px;
		}

		div{
			margin-top:16px;
			margin-bottom:12px;
		}
	}


}


#scroller {
	position:absolute;
	top:75px; 
	right:8px;
	width:16px;
	font-size:10px;
	
	a {
		text-decoration: none;
		color: @color_scroll_text;
		&:hover{

		}
	}
}


.transactions{
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
	font-size: @font-small;

	li{
		.bottom-border(@color_list_separator_grey);

		padding: 14px 17px;
		position:relative;

		a {

			text-decoration: none;
			color: @color_intro_text;

			span.icon {
				//font-size: 14px;
				margin-top:5px;
				vertical-align: top;
				color: @color_intro_body;
				margin-left:0px;
				margin-right:8px;
			}

			div.data {
				display: inline-block;
				max-width: 60%;

				.type {
					color: @color_intro_title;
					text-transform: uppercase;
					position: absolute;
					right: 17px;
				}
				.ammount {
					position: absolute;
					right: 17px;
					top: 32px;
				}
				.concept {
					color: @color_intro_body;
					text-transform: uppercase;
				}
			}

		}

	}
}


.expenses {
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
	font-size: @font-small;

	li{
		.bottom-border(@color_list_separator_grey);

		padding: 14px 0px;
		color: @color_intro_text;
		position:relative;
		margin: 5px 21px 5px 14px;

		.details {
			margin-top: 8px;
		}
		.floats-container{
			.concept {
				color: @color_intro_title;
				text-transform: uppercase;
				display:block;
				float:right;
				max-width:60%;
				text-align:right;
			}

			.date{
				display:block;
				float:left;
			}
		}
		

		.ticket, .total {
			color: @color_intro_body;
		}

		.value {
			.right
		}

	}
}


#salary-info{
	.items-list{
		li{
			padding: 16px 14px;
			margin: 0px;

			.label{
				color:#000000;
			}

			div.total{
				margin-top:8px;
			}
		}
	}
}


.single-field{
	.bottom-border(@color_list_separator_grey);
	padding:12px;
}

.experiencia-profesional, .intalent-list{
	.section-w{
		border:none;
		.section-title{
			text-transform: none;
		}
	}
	
	.items{	
		.item, #add{
			padding:12px 16px;
			margin:8px;
			border:@color_list_separator_grey 1px solid;
			position:relative;

			.field{
				margin-bottom:12px;
			}

			a.edit{
				position:absolute;
				color:black;
		    right: 0;
		    top: 45%;
		    padding: 6px;
			}
		}

		#add{
			border:#000000 1px solid;
			display:block;
			text-align: center;
			text-transform: uppercase;
			padding:8px;
			margin-top:8px;
			text-decoration: none;
			color:black;
		}
	}
}

.btn-group {
	margin-top:20px;
	padding:0;
	margin-left: 20px;

	.btn {

		.rounded(3px);
		.bordered(@color_tabs,@color_tabs,@color_tabs,@color_tabs);
		display: inline-block;
		float: left;
		min-width: 120px;
		color:@color_tabs;
		text-decoration: none;
		padding: 2px 12px;
		text-align: center;
		font-size:@font-small;

		&.active {
			color:@color_item_background;
			background-color: @color_tabs;
		}

		&:first {

		}

		&:last {

		}

		&:first-child:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

	}
}

.tags {
	.tag {
		.uppercase;
		.rounded(3px);
		color: @color_item_background;
		font-size: @font-smallest;
		padding: 1px 20px;
		background-color: @color_tags;

	}
}

.listing {
	.section-w{
		border:none;
		.section-title{
			text-transform: none;
		}
	}
	
	.items{	
		.item, #add{
			padding:10px;
			border-bottom:@color_list_separator_grey 1px solid;
			position:relative;

			&.highlight {
				background-color: @color_form_input_background;
			}
			.value {
				margin:3px 0;
			}

			.field, .tags {
				margin:6px;
			}
			.title {
				color: @color_intro_title;
			}
			.note{
				font-size: @font-smallest;
			}
			.actions {
				position:absolute;
				right:12px;
				top:40%;

				a.edit, a.delete{
					color:black;
					padding:6px;
				}				
			}
		}

		#add{
			margin: 20px 8px 8px 8px;
			border:#000000 1px solid;
			display:block;
			text-align: center;
			text-transform: uppercase;
			padding:8px;
			text-decoration: none;
			color:black;
		}
	}
}

#consumos_comedor,
#descuento-empleado {
	#month_list{
		cursor:pointer;
    i {
    	color: @color_intro_title;
    }

		div{
			display:none;
			
			a{

				padding:8px 0px;
				display:block;
				text-decoration: none;
				text-transform: uppercase;
				color:black;
				.bottom-border(@color_list_separator_grey);
				&:last-of-type{
					border:none;
				}
			}
		}
	}
}

#mi_cv {
	#more_info {

		span.label {
			vertical-align: top;
			margin-right: 6px;
		}

		.switch {
			display: inline-block;
		}

	}
}

#reconocimiento-medico {

	form {
		border-bottom: 1px solid @color_list_separator_grey;

		.radio-grp {
			border-top: 1px solid @color_list_separator_grey;
			background-color: @color_form_input_background;
			padding: 15px 30px 15px 30px;

			.radio {
				float:left;
				width:50%;
			}
		}
		.actions {
			padding: 0px 12px 0px 15px;
			margin-bottom: 30px;
		}
		.toggle {
			display: none;
		}
	}

	#menu {

		span.label {
			vertical-align: top;
			margin-right: 6px;
		}

		.switch {
			display: inline-block;
			top: -4px;
			margin-bottom: 18px;
		}

	}

	.items {
		padding-top: 18px;
		margin-top: 0;

		li {
			padding: 12px 17px 3px 26px;
			min-height: 30px;

			.date {

				float: left;
				width: 70%;
			}
			.status {
				float: right;
				width: 30%;
			}
		}

		.title {
			border-bottom: 1px solid @color_list_separator_grey;
			padding-bottom: 10px;
			color: @color_intro_title;
		}
	}
}


#retribucion-flexible {
	.section-title {
		.fa-question-circle {
			vertical-align: middle;
		}
	}
}

.experiencia-profesional {
	.items{
		margin:10px;
		background-color:@color_light_gray;

		.separator{
			height:1px;
			margin: 0px 12px;
			background-color:@color_light_gray;
			border-bottom:1px solid @color_gray_separator;
		}
		.item{
			border-width:0px;
			margin-bottom:0px;
			margin-top:0px;
			
		}

		.item-head{
			position:relative;
			background-color:#ffffff;
			padding-bottom:12px;
			padding-left:5px;
			padding-right: 28px;

			.edit{
				position:absolute;
				right:4px;
				top:35%;
				color:black;
			}

			.title{
				color:#810000;
				text-transform: uppercase;
				margin-top:4px;
				margin-bottom:4px;
			}
			
			.country{
				margin-top:4px;
			}
		}
	}

	#add {
		border: #000000 1px solid;
		display: block;
		text-align: center;
		text-transform: uppercase;
		padding: 8px;
		text-decoration: none;
		color: black;
		margin:10px;
	}


	&.empresa{
		.items{
			margin:10px;
			background-color:#ffffff;
			border:@color_list_separator_grey 1px solid;
		}
		#add {
			margin:12px;
			margin-left:16px;
			line-height:19px;	
		}
		.button{
				display:block;
				text-align: center;
				color:#f34646;
				text-transform: uppercase;
				text-decoration: none;
			}
	}
}


#body{
	&.informacion_complementaria{
		li.menu_item{
			margin-bottom:20px;
		}
	}
	.body-wrapper {
		margin: 20px 15px;

		a {
			color: @color_links;
			text-decoration: none;
		}

		h2{
			color: @color_intro_title;
			text-transform: uppercase;
			font-size: @font-medium;
			font-weight: normal;
			margin-top:20px;
		}

		p {margin-bottom: 12px}

		ul {
			padding-left: 16px;
			list-style: circle;
		}

		ol {
			padding-left: 16px;
		}
	}
}

body#idioma {

	background: url('../images/bg-idioma.png') center center no-repeat;
	background-size: 100%;

	.body-wrapper ul {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-top:100px;
		margin-bottom:100px;
	}

	.actions {
		position: absolute;
		bottom: 20px;
		width: 91%;
		input[type="submit"] { }
	}
}



body.pantalla-de-acceso{
	background-image: url(../images/bg.png);
	background-color:#94938B;
	background-repeat: no-repeat;	
	background-size:  cover;
	div.header{
		background-color: #9B0000;
		text-align:center;
		padding:4px;
		img{
			height:100%;
		}
	}
	div#login{
		
		div#title{
			.font_main;
			margin-top: 30px;
			font-size: @font-bigger;
			color:white;
			text-transform: uppercase;
			letter-spacing: 5px;
			text-align: center;
		}

		ul#menu{
			margin-bottom:10px;
			margin-top:50px;
		}

		form{
			margin: 40px 60px 60px;

			div.label{
				color:white;
				font-size: @font-medium;
			}
			input{
				background-color:rgba(255, 255, 255, .5);
				border:none;
				padding: 8px;
				margin: 0;
			}

			#submit{
				margin-top:50px;
				padding:8px 20px;
				text-align:center;
				text-transform: uppercase;
				text-decoration: none;
				color:white;
				background: transparent!important;
				border: 1px solid rgba(255, 255, 255, .5);
        -webkit-background-clip: padding-box; /* for Safari */
    		background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
			}

			a.forgotpass{
				background: none;
				border:none;
				color:#ffa800;
				font-size: @font-tinny;
			}

		}
		
	}
}


body#detalle-vacante {
	.listing .items .item {
		padding: 6px 12px;
	}
}

body#mensaje {
	.actions{
		display: block;
		text-align: center;
		margin-top: 24px;

		.button {
			padding:12px 16px;
			margin:0px;
			border:@color_list_separator_grey 1px solid;
			position:relative;		
			text-transform: uppercase;
			color: @color_intro_body;
			display: block;

			&.cancel {
				color: @color_form_button_delete;
				border-color: @color_form_button_delete;
			}
		}

		&.two {
			.button {
				float: left;
				width: 37%;

				&.last {
					float: right;
				}
			}
		}
	}
}

.ui-autocomplete {
	.rounded(0);
	font-size: @font-medium;
}



/* inet overrides */
body.inet {

	&.login {
		background-color: @inet_gray_background;

		.header{
			background-color: @inet_gray_background;
			border-bottom: 1px dotted @inet_body_text;
			margin: 18px 20px;
			height: 84px;
			padding-right: 0;
		}

		#body {
			margin: 18px 20px;
		}

	}

	.header {
		padding-right: 24px;
		background-color: @inet_header_background;
	}
	#body .body-wrapper {

			i, a {
				color: @inet_body_text;
			}
	}
}

.info-salary{
	ul{list-style-type:none;}
	li{background:transparent url(../images/dottedborder.png) repeat-y 25px 0;padding:5px 10px 5px 35px;position:relative;margin-bottom:10px;}
	.info-salary-ico{position:absolute;left:0;top:7px;width:16px;height:16px;background-color:transparent;background-repeat:no-repeat;background-image:url(../images/spritesheet.png)}
	.ico-info{background-position:-3px -663px}
	.ico-help{background-position:0 -952px}
	a{color:#333;}
}


.info-retribucion-flexible{padding:0 14px;}
.info-retribucion-tit{color:#7e7e7e;padding:14px 14px 4px 14px;margin:0;font-weight:normal;font-size:16px;}

 .factions {
  display: block;
  text-align: center;
  margin-top: 24px;

  .button {
    padding: 12px 16px;
    margin: 0px;
    border: #d6d6d6 1px solid;
    position: relative;
    text-transform: uppercase;
    color: #000000;
    display: block;
  }
}

.note-recon{position:absolute;right:10px;top:-16px}
.note-holder{position:relative}
.note-holder .note-recon{padding:0!important;line-height:1em;}
.note-holder-renuncio .note-recon{top:0}

