.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite-ic_arrow_open {
  width: 22px;
  height: 22px;
  background-position: 0 0;
}
.sprite-ic_calendario {
  width: 22px;
  height: 22px;
  background-position: 0 -22px;
}
.sprite-ic_certificado_retenciones {
  width: 22px;
  height: 22px;
  background-position: 0 -44px;
}
.sprite-ic_closed {
  width: 22px;
  height: 22px;
  background-position: 0 -66px;
}
.sprite-ic_comedor {
  width: 22px;
  height: 22px;
  background-position: 0 -88px;
}
.sprite-ic_cuenta_bancaria {
  width: 22px;
  height: 22px;
  background-position: 0 -110px;
}
.sprite-ic_curriculum_vitae {
  width: 22px;
  height: 22px;
  background-position: 0 -132px;
}
.sprite-ic_datos_economicos {
  width: 22px;
  height: 22px;
  background-position: 0 -154px;
}
.sprite-ic_datos_personales {
  width: 22px;
  height: 22px;
  background-position: 0 -176px;
}
.sprite-ic_descuento_empleado {
  width: 22px;
  height: 22px;
  background-position: 0 -198px;
}
.sprite-ic_informacion_salarial {
  width: 22px;
  height: 22px;
  background-position: 0 -220px;
}
.sprite-ic_intalent {
  width: 22px;
  height: 22px;
  background-position: 0 -242px;
}
.sprite-ic_mas {
  width: 22px;
  height: 22px;
  background-position: 0 -264px;
}
.sprite-ic_mis_nominas {
  width: 22px;
  height: 22px;
  background-position: 0 -286px;
}
.sprite-ic_objetivos {
  width: 22px;
  height: 22px;
  background-position: 0 -308px;
}
.sprite-ic_reconocimiento_medico {
  width: 22px;
  height: 22px;
  background-position: 0 -330px;
}
.sprite-ic_revision_salarial {
  width: 22px;
  height: 22px;
  background-position: 0 -352px;
}
.sprite-ic_close {
  width: 22px;
  height: 22px;
  background-position: 0 -374px;
}
.sprite-ic_guardar {
  width: 22px;
  height: 22px;
  background-position: 0 -396px;
}
.sprite-ic_atras {
  width: 22px;
  height: 22px;
  background-position: 0 -418px;
}
.sprite-ic_select {
  width: 22px;
  height: 22px;
  background-position: 0 -440px;
}
.sprite-ic_edit {
  width: 22px;
  height: 22px;
  background-position: 0 -462px;
}
.sprite-ic_edit_white {
  width: 22px;
  height: 22px;
  background-position: 0 -484px;
}
.sprite-ic_civil {
  width: 22px;
  height: 22px;
  background-position: 0 -506px;
}
.sprite-ic_world {
  width: 22px;
  height: 22px;
  background-position: 0 -528px;
}
.sprite-ic_location {
  width: 22px;
  height: 22px;
  background-position: 0 -550px;
}
.sprite-ic_phone {
  width: 22px;
  height: 22px;
  background-position: 0 -572px;
}
.sprite-ic_person {
  width: 22px;
  height: 22px;
  background-position: 0 -594px;
}
.sprite-ic_cart {
  width: 22px;
  height: 22px;
  background-position: 0 -616px;
}
.sprite-ic_rarrow {
  width: 22px;
  height: 22px;
  background-position: 0 -638px;
}
.sprite-ic_informacion_complementaria {
  width: 22px;
  height: 22px;
  background-position: 0 -660px;
}
.sprite-ic_historial_academico {
  width: 22px;
  height: 22px;
  background-position: 0 -682px;
}
.sprite-ic_formacion_complementaria {
  width: 22px;
  height: 22px;
  background-position: 0 -704px;
}
.sprite-ic_idiomas {
  width: 22px;
  height: 22px;
  background-position: 0 -726px;
}
.sprite-ic_experiencia_profesional {
  width: 22px;
  height: 22px;
  background-position: 0 -748px;
}
.sprite-ic_cv {
  width: 22px;
  height: 22px;
  background-position: 0 -770px;
}
.sprite-ic_vacantes_listado {
  width: 22px;
  height: 22px;
  background-position: 0 -792px;
}
.sprite-ic_vacantes_seguimiento {
  width: 22px;
  height: 22px;
  background-position: 0 -814px;
}
.sprite-ic_timesheet {
  width: 22px;
  height: 22px;
  background-position: 0 -836px;
}
.sprite-ic_mail {
  width: 22px;
  height: 22px;
  background-position: 0 -858px;
}
.sprite-ic_filter {
  width: 22px;
  height: 22px;
  background-position: 0 -880px;
}
.sprite-ic_cv_green {
  width: 22px;
  height: 22px;
  background-position: 0 -902px;
}
