.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-ic_arrow_open {
    width: 22px;
    height: 22px;
    background-position: 0 0;

}

.sprite-ic_calendario {
    width: 30px;
    height: 30px;
    background-position: -22px -60px;
}

.sprite-ic_certificado_retenciones {
    width: 30px;
    height: 30px;
    background-position: -22px -660px;
}

.sprite-ic_closed {
    width: 22px;
    height: 22px;
    background-position: 0 -66px;
}

.sprite-ic_comedor {
    width: 30px;
    height: 30px;
    background-position: -22px -240px;
}

.sprite-ic_cuenta_bancaria {
    width: 30px;
    height: 30px;
    background-position: -22px -30px;
}

.sprite-ic_curriculum_vitae {
    width: 30px;
    height: 30px;
    background-position: -22px -120px;
}

.sprite-ic_datos_economicos {
    width: 30px;
    height: 30px;
    background-position: -22px 0;
}

.sprite-ic_datos_personales {
    width: 30px;
    height: 30px;
    background-position: -22px -90px;
}

.sprite-ic_descuento_empleado {
    width: 30px;
    height: 30px;
    background-position: -22px -180px;
}

.sprite-ic_informacion_salarial {
    width: 30px;
    height: 30px;
    background-position: -22px -690px;
}

.sprite-ic_intalent {
    width: 30px;
    height: 30px;
    background-position: -22px -210px;
}

.sprite-ic_mas {
    width: 30px;
    height: 30px;
    background-position: -22px -270px;
}

.sprite-ic_mis_nominas {
    width: 30px;
    height: 30px;
    background-position: -22px -570px;
}

.sprite-ic_objetivos {
    width: 30px;
    height: 30px;
    background-position: -22px -600px;
}

.sprite-ic_reconocimiento_medico {
    width: 30px;
    height: 30px;
    background-position: -22px -150px;
}

.sprite-ic_revision_salarial {
    width: 30px;
    height: 30px;
    background-position: -22px -630px;
}

.sprite-ic_close {
    width: 22px;
    height: 22px;
    background-position: 0 -992px;
}
.inverse .sprite-ic_close {
    width: 22px;
    height: 22px;
    background-position: 0 -374px;
}

// .sprite-ic_guardar {
//     width: 22px;
//     height: 22px;
//     background-position: 0 -396px;
// }

.sprite-ic_atras {
    width: 22px;
    height: 22px;
    background-position: 0 -970px;
}
.inverse .sprite-ic_atras {
    background-position: 0 -418px;
}

.sprite-ic_select {
    width: 22px;
    height: 22px;
    background-position: 0 -440px;
}

// .sprite-ic_edit {
//     width: 22px;
//     height: 22px;
//     background-position: 0 -462px;
// }

// .sprite-ic_edit_white {
//     width: 22px;
//     height: 22px;
//     background-position: 0 -484px;
// }

.sprite-ic_civil {
    width: 22px;
    height: 22px;
    background-position: 0 -506px;
}

.sprite-ic_world {
    width: 30px;
    height: 30px;
    background-position: -22px -510px;
}

.sprite-ic_location {
    width: 30px;
    height: 30px;
    background-position: -22px -480px;
}

.sprite-ic_phone {
    width: 30px;
    height: 30px;
    background-position: -22px -540px;
}

.sprite-ic_person {
    width: 30px;
    height: 30px;
    background-position: -22px -450px;
}

.sprite-ic_cart {
    width: 22px;
    height: 22px;
    background-position: 0 -616px;
}

.sprite-ic_rarrow {
    width: 22px;
    height: 22px;
    background-position: 0 -638px;
}


.sprite-ic_informacion_complementaria {
    width: 30px;
    height: 30px;
    background-position: -22px -420px;
}

.sprite-ic_historial_academico {
    width: 30px;
    height: 30px;
    background-position: -22px -300px;
}

.sprite-ic_formacion_complementaria {
    width: 30px;
    height: 30px;
    background-position: -22px -360px;
}

.sprite-ic_idiomas {
    width: 30px;
    height: 30px;
    background-position: -22px -330px;
}

.sprite-ic_experiencia_profesional {
    width: 30px;
    height: 30px;
    background-position: -22px -390px;
}

.sprite-ic_cv {
    width: 22px;
    height: 22px;
    background-position: 0 -770px;   
}

.sprite-ic_vacantes_listado {
    width: 22px;
    height: 22px;
    background-position: 0 -792px;   
}

.sprite-ic_vacantes_seguimiento {
    width: 22px;
    height: 22px;
    background-position: 0 -814px;   
}

.sprite-ic_timesheet {
    width: 30px;
    height: 30px;
    background-position: -22px -720px;
}

.sprite-ic_doc {
    width: 30px;
    height: 30px;
    background-position: -22px -750px;
}

.sprite-ic_mail {
    height: 20px;
    background-position: 5px -857px;
}

.sprite-ic_filter {
    width: 22px;
    height: 22px;
    background-position: 0 -1014px;
}
.inverse .sprite-ic_filter {
    background-position: 0 -880px;
}

.sprite-ic_cv_green {
    width: 22px;
    height: 22px;
    background-position: 0 -902px;   
}

.sprite-ic_blocked {
    width: 22px;
    height: 22px;
    background-position: 0 -924px;   
}